// RESPONSIVE
.responsive {
	width: 100%;
}

.responsiveImage {
	max-width: 100%;
	margin: 0 auto;
}

.spaceAround {
	margin: 2rem .5rem;
}
.spaceVertical {
	margin:2rem 0;
}
.spaceHorizontal {
	margin: 0 2rem;
}
.spaceInside {
	padding: 2rem;
}
.spaceInsideVertical {
	padding: 2rem 0;
}
.spaceInsideHorizontal {
	padding: 0 2rem;
}

.centerText {
	text-align: center;
}
.centerObject {
	margin: 0 auto;
}
.maxText {
	max-width: 560px;
}


.responsiveGrid {
	display: flex;
}

.gridFull {
	flex: 1;
}

.gridHalf {
	flex: 2;
}

.gridThird {
	flex: 3;
}

.gridFourth {
	flex: 4;
}

.gridHorizontal {
	flex-direction: row;
}

.gridVertical {
	flex-direction: column;
}