.background-image1 {
    background: url(./../images/cafe-3537801_1280.jpg) no-repeat;
    background-size: cover;
}
.background-image2 {
    background: url(./../images/bg_bar_in.jpg) no-repeat;
    background-size: cover;
}
.background-image3 {
    background: url(./../images/brick-wall-1834784_1280.jpg) no-repeat;
    background-size: cover;
}
.background-image4 {
    background: url(./../images/bar-918541_1280.jpg) no-repeat;
    background-size: cover;
}

.background-image-fixed {
    background: url(./../images/bg_dark.jpg) fixed;
    background-size: cover;
}